* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #9294A4;
  background-color: #F3F3FB;
}

.App {
  display: flex;
  color: #eeeeee;
  justify-content: center;
  align-items:center;
  height: 100vh;
}


.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 350px;
  box-shadow: 7px 7px 20px -2px rgba(0,0,0,0.1);
  -webkit-box-shadow:7px 7px 20px -2px rgba(0,0,0,0.5);
  -moz-box-shadow: 7px 7px 29px -6px rgba(0,0,0,1);
  border-radius: 0 0 10px 10px;
  color: black;
}

.questions {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  margin: 10px;
}

input {
  margin-right: 10px;
}
.button {
  height: 20%;
  background-color: #4370E7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.3rem;
}

button:hover {
  cursor:pointer;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 1rem;
  color: black;
  font-family: 'Monospace';
}
